$colors: (
  primary: (
    100: #c8d6f8,
    400: #5683f0,
  ),
  secondary: (
    100: #f7c8f8,
    400: #e600bb,
    500: #b311ff,
  ),
  neutral: (
    100: #fff,
    200: #e1e1e15c,
    400: #737a82,
    800: #282b2f,
    900: #1a1c1d,
  ),
);
