/*-----------
HEADER STYLES
------------*/

header {
  margin-bottom: 2em;
  padding: 0.5em 0;
  border-bottom: 2px solid var(--clr-neutral-200);
}
.nav {
  padding: 0.75em 1em;

  display: flex;
  justify-content: space-between;
  .header__logo {
    flex: 1 1 20%;
    margin-inline: auto;
    text-align: center;
  }
  ul {
    display: flex;
    flex: 1 1 70%;
    li {
      flex: 1 1 25%;
      margin-inline: 1em;
      white-space: nowrap;
      min-height: var(--min-tap-target-height);
      line-height: 1.5;
      a {
        line-height: 1.5;
      }
    }
  }

  // RADIX UI dropdown
  &-dropdown {
    &__container {
      position: relative;
      z-index: 0;
    }

    &__trigger {
      border: 1px solid;
      padding-inline: 0.5em;
      z-index: 2;
      margin: 0;
      border: 0;
      padding: 0;
      background: none;
      color: initial;
      cursor: pointer;
    }
    &__content {
      --transform-timing: cubic-bezier(0.6, 0.13, 0.15, 0.58);
      --opacity-timing: cubic-bezier(0.94, 0.48, 0, 1.46);
      z-index: 1;
      position: fixed;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transform: perspective(20px) translate3d(2%, -20rem, -100px)
        scale(0.01, 0.1);
      transition: transform 0.35s var(--transform-timing),
        opacity 0.35s var(--opacity-timing);
      background-color: var(--clr-neutral-100);
      border-radius: 6px;
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 0.1);
      padding: 0.5em 1em;
      li a {
        pointer-events: none;
      }
      &[data-open='true'] {
        opacity: 1;
        transform: translate3d(-2.5ch, 1.5ch, 0) scale(1);
        li a {
          pointer-events: all;
        }
      }
    }

    &__seperator {
      border: 1px solid var(--clr-neutral-200);
      margin: 0.3em 0;
    }
    &__arrow {
      background-color: var(--clr-neutral-100);
    }

    // &__item__btn {
    //   margin: 0;
    //   padding: 0;
    //   background: none;
    //   border: none;
    //   height: 100%;
    // }

    &__item {
      margin: 0.5em 0;
      button,
      a {
        display: inline-block;
        width: 100%;
        padding: 0.25em 0.5em;
        &:hover,
        &:focus {
          outline-style: inset;
          background: linear-gradient(
            var(--clr-secondary-500),
            var(--clr-secondary-400)
          );
          color: var(--clr-neutral-100);
        }
      }
    }
    // &__item.logout {

    // }
  }
}

.skip-link {
  position: fixed;
  z-index: 2;
  padding-inline: 1.5ch;
  background: var(--clr-primary-100);
  color: var(--clr-neutral-900);
  border: 0.35em solid var(--clr-primary-400);
  border-radius: 4px;
  cursor: pointer;
  transform: translate(0, -400%);
  transition: transform 0.25s ease-in;
  &:focus-within {
    transform: translate(0, 0);
  }
}
