@use '../abstracts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: 0.25rem groove var(--clr-primary-400);
  outline-offset: 0.25rem;
}


:root {
  --min-tap-target-height: 32px;
  @media (pointer: coarse) {
    --min-tap-target-height: 48px;
  }
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html,
body,
#root {
  
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (pointer: coarse) {
  input,
  button,
  textarea,
  select {
    min-height: var(--min-tap-target-height);
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
